.footer-top {
  background: $background-footer-top;
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    margin-top: 20px;
    color: white;
    font-size: 14px;
  } 
  .widget h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px; 
    color: white; 
  }
  .menu { 
    list-style:none;
    padding:0;
    li {
      list-style: none;
      margin-top: 10px; 
      a {
        text-decoration: none;
        color: $color-list-footer;
        margin: 5px 0;
        &:hover{
          text-decoration:underline;
        }
      }
    }
  }

  .btn-telefono {
    background: $btn-footer;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    border: 1px solid $btn-footer;

    &:hover {
      background: transparent;
      border: 1px solid white;
    }
  }
}

.footer-bottom {
  background: $background-footer-bottom;
  color: white;

  p {
    font-size: 14px;
    color: $color-list-footer;
    margin-top: 1rem;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
      .footer-top {
        text-align: center;


        .col-12 {
            margin-bottom: 20px;
        }
    }
  
}
